body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#board {
    background-color: blue;
}

h1 {
    font-family:'Times New Roman', Times, serif;
    text-align: center;
}
